<%= form_for @movies do |m| %>
  <% if @movies.errors.any? %>
    <div class="errors">
      <% @movies.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
      <% end %>
  <% end %>
  </div>
  <div>
    <%= m.label :name %>
    <br>
    <%= m.text_field :name, autofocus: true %>
  </div>
  <div>
    <%= m.label :year %>
    <br>
    <%= m.text_field :year, placeholder: "YYYY", autofocus: true %>
    <!--<#%= m.select :year, (Time.zone.now.year - 50)..(Time.zone.now.year) %>-->
  </div>
  <div>
    <%= m.label :synopsis %>
    <br>
    <%= m.text_area :synopsis, autofocus: true %>
  </div>
  <div>
    <%= m.submit "Create Movie" %>
  </div>
<% end %>